/*
Catapult REST Endpoints

OpenAPI Specification of catapult-rest

API version: 1.0.4
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi_client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// RestrictionMosaicRoutesAPIService RestrictionMosaicRoutesAPI service
type RestrictionMosaicRoutesAPIService service

type ApiGetMosaicRestrictionsRequest struct {
	ctx context.Context
	ApiService *RestrictionMosaicRoutesAPIService
	compositeHash string
}

func (r ApiGetMosaicRestrictionsRequest) Execute() (*MosaicRestrictionDTO, *http.Response, error) {
	return r.ApiService.GetMosaicRestrictionsExecute(r)
}

/*
GetMosaicRestrictions Get the mosaic restrictions

Returns the mosaic restrictions for a composite hash.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param compositeHash Filter by composite hash.
 @return ApiGetMosaicRestrictionsRequest
*/
func (a *RestrictionMosaicRoutesAPIService) GetMosaicRestrictions(ctx context.Context, compositeHash string) ApiGetMosaicRestrictionsRequest {
	return ApiGetMosaicRestrictionsRequest{
		ApiService: a,
		ctx: ctx,
		compositeHash: compositeHash,
	}
}

// Execute executes the request
//  @return MosaicRestrictionDTO
func (a *RestrictionMosaicRoutesAPIService) GetMosaicRestrictionsExecute(r ApiGetMosaicRestrictionsRequest) (*MosaicRestrictionDTO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MosaicRestrictionDTO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RestrictionMosaicRoutesAPIService.GetMosaicRestrictions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/restrictions/mosaic/{compositeHash}"
	localVarPath = strings.Replace(localVarPath, "{"+"compositeHash"+"}", url.PathEscape(parameterValueToString(r.compositeHash, "compositeHash")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetMosaicRestrictionsMerkleRequest struct {
	ctx context.Context
	ApiService *RestrictionMosaicRoutesAPIService
	compositeHash string
}

func (r ApiGetMosaicRestrictionsMerkleRequest) Execute() (*MerkleStateInfoDTO, *http.Response, error) {
	return r.ApiService.GetMosaicRestrictionsMerkleExecute(r)
}

/*
GetMosaicRestrictionsMerkle Get the mosaic restrictions merkle

Returns the mosaic restrictions merkle for a given composite hash.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param compositeHash Filter by composite hash.
 @return ApiGetMosaicRestrictionsMerkleRequest
*/
func (a *RestrictionMosaicRoutesAPIService) GetMosaicRestrictionsMerkle(ctx context.Context, compositeHash string) ApiGetMosaicRestrictionsMerkleRequest {
	return ApiGetMosaicRestrictionsMerkleRequest{
		ApiService: a,
		ctx: ctx,
		compositeHash: compositeHash,
	}
}

// Execute executes the request
//  @return MerkleStateInfoDTO
func (a *RestrictionMosaicRoutesAPIService) GetMosaicRestrictionsMerkleExecute(r ApiGetMosaicRestrictionsMerkleRequest) (*MerkleStateInfoDTO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerkleStateInfoDTO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RestrictionMosaicRoutesAPIService.GetMosaicRestrictionsMerkle")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/restrictions/mosaic/{compositeHash}/merkle"
	localVarPath = strings.Replace(localVarPath, "{"+"compositeHash"+"}", url.PathEscape(parameterValueToString(r.compositeHash, "compositeHash")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchMosaicRestrictionsRequest struct {
	ctx context.Context
	ApiService *RestrictionMosaicRoutesAPIService
	mosaicId *string
	entryType *MosaicRestrictionEntryTypeEnum
	targetAddress *string
	pageSize *int32
	pageNumber *int32
	offset *string
	order *Order
}

// Filter by mosaic identifier.
func (r ApiSearchMosaicRestrictionsRequest) MosaicId(mosaicId string) ApiSearchMosaicRestrictionsRequest {
	r.mosaicId = &mosaicId
	return r
}

// Filter by entry type.
func (r ApiSearchMosaicRestrictionsRequest) EntryType(entryType MosaicRestrictionEntryTypeEnum) ApiSearchMosaicRestrictionsRequest {
	r.entryType = &entryType
	return r
}

// Filter by target address.
func (r ApiSearchMosaicRestrictionsRequest) TargetAddress(targetAddress string) ApiSearchMosaicRestrictionsRequest {
	r.targetAddress = &targetAddress
	return r
}

// Select the number of entries to return.
func (r ApiSearchMosaicRestrictionsRequest) PageSize(pageSize int32) ApiSearchMosaicRestrictionsRequest {
	r.pageSize = &pageSize
	return r
}

// Filter by page number.
func (r ApiSearchMosaicRestrictionsRequest) PageNumber(pageNumber int32) ApiSearchMosaicRestrictionsRequest {
	r.pageNumber = &pageNumber
	return r
}

// Entry id at which to start pagination. If the ordering parameter is set to -id, the elements returned precede the identifier. Otherwise, newer elements with respect to the id are returned. 
func (r ApiSearchMosaicRestrictionsRequest) Offset(offset string) ApiSearchMosaicRestrictionsRequest {
	r.offset = &offset
	return r
}

// Sort responses in ascending or descending order based on the collection property set on the param &#x60;&#x60;orderBy&#x60;&#x60;. If the request does not specify &#x60;&#x60;orderBy&#x60;&#x60;, REST returns the collection ordered by id. 
func (r ApiSearchMosaicRestrictionsRequest) Order(order Order) ApiSearchMosaicRestrictionsRequest {
	r.order = &order
	return r
}

func (r ApiSearchMosaicRestrictionsRequest) Execute() (*MosaicRestrictionsPage, *http.Response, error) {
	return r.ApiService.SearchMosaicRestrictionsExecute(r)
}

/*
SearchMosaicRestrictions Search mosaic restrictions

Returns an array of mosaic restrictions.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSearchMosaicRestrictionsRequest
*/
func (a *RestrictionMosaicRoutesAPIService) SearchMosaicRestrictions(ctx context.Context) ApiSearchMosaicRestrictionsRequest {
	return ApiSearchMosaicRestrictionsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MosaicRestrictionsPage
func (a *RestrictionMosaicRoutesAPIService) SearchMosaicRestrictionsExecute(r ApiSearchMosaicRestrictionsRequest) (*MosaicRestrictionsPage, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MosaicRestrictionsPage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RestrictionMosaicRoutesAPIService.SearchMosaicRestrictions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/restrictions/mosaic"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.mosaicId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mosaicId", r.mosaicId, "")
	}
	if r.entryType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "entryType", r.entryType, "")
	}
	if r.targetAddress != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "targetAddress", r.targetAddress, "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "")
	} else {
		var defaultValue int32 = 10
		r.pageSize = &defaultValue
	}
	if r.pageNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageNumber", r.pageNumber, "")
	} else {
		var defaultValue int32 = 1
		r.pageNumber = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "")
	} else {
		var defaultValue Order = "desc"
		r.order = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
