/*
Catapult REST Endpoints

OpenAPI Specification of catapult-rest

API version: 1.0.4
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi_client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// MetadataRoutesAPIService MetadataRoutesAPI service
type MetadataRoutesAPIService service

type ApiGetMetadataRequest struct {
	ctx context.Context
	ApiService *MetadataRoutesAPIService
	compositeHash string
}

func (r ApiGetMetadataRequest) Execute() (*MetadataInfoDTO, *http.Response, error) {
	return r.ApiService.GetMetadataExecute(r)
}

/*
GetMetadata Get metadata information

Gets the metadata for a given composite hash.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param compositeHash Filter by composite hash.
 @return ApiGetMetadataRequest
*/
func (a *MetadataRoutesAPIService) GetMetadata(ctx context.Context, compositeHash string) ApiGetMetadataRequest {
	return ApiGetMetadataRequest{
		ApiService: a,
		ctx: ctx,
		compositeHash: compositeHash,
	}
}

// Execute executes the request
//  @return MetadataInfoDTO
func (a *MetadataRoutesAPIService) GetMetadataExecute(r ApiGetMetadataRequest) (*MetadataInfoDTO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MetadataInfoDTO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MetadataRoutesAPIService.GetMetadata")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/metadata/{compositeHash}"
	localVarPath = strings.Replace(localVarPath, "{"+"compositeHash"+"}", url.PathEscape(parameterValueToString(r.compositeHash, "compositeHash")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetMetadataMerkleRequest struct {
	ctx context.Context
	ApiService *MetadataRoutesAPIService
	compositeHash string
}

func (r ApiGetMetadataMerkleRequest) Execute() (*MerkleStateInfoDTO, *http.Response, error) {
	return r.ApiService.GetMetadataMerkleExecute(r)
}

/*
GetMetadataMerkle Get metadata merkle information

Gets the metadata merkle for a given composite hash.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param compositeHash Filter by composite hash.
 @return ApiGetMetadataMerkleRequest
*/
func (a *MetadataRoutesAPIService) GetMetadataMerkle(ctx context.Context, compositeHash string) ApiGetMetadataMerkleRequest {
	return ApiGetMetadataMerkleRequest{
		ApiService: a,
		ctx: ctx,
		compositeHash: compositeHash,
	}
}

// Execute executes the request
//  @return MerkleStateInfoDTO
func (a *MetadataRoutesAPIService) GetMetadataMerkleExecute(r ApiGetMetadataMerkleRequest) (*MerkleStateInfoDTO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerkleStateInfoDTO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MetadataRoutesAPIService.GetMetadataMerkle")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/metadata/{compositeHash}/merkle"
	localVarPath = strings.Replace(localVarPath, "{"+"compositeHash"+"}", url.PathEscape(parameterValueToString(r.compositeHash, "compositeHash")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchMetadataEntriesRequest struct {
	ctx context.Context
	ApiService *MetadataRoutesAPIService
	sourceAddress *string
	targetAddress *string
	scopedMetadataKey *string
	targetId *string
	metadataType *MetadataTypeEnum
	pageSize *int32
	pageNumber *int32
	offset *string
	order *Order
}

// Filter by address sending the metadata entry.
func (r ApiSearchMetadataEntriesRequest) SourceAddress(sourceAddress string) ApiSearchMetadataEntriesRequest {
	r.sourceAddress = &sourceAddress
	return r
}

// Filter by target address.
func (r ApiSearchMetadataEntriesRequest) TargetAddress(targetAddress string) ApiSearchMetadataEntriesRequest {
	r.targetAddress = &targetAddress
	return r
}

// Filter by metadata key.
func (r ApiSearchMetadataEntriesRequest) ScopedMetadataKey(scopedMetadataKey string) ApiSearchMetadataEntriesRequest {
	r.scopedMetadataKey = &scopedMetadataKey
	return r
}

// Filter by namespace or mosaic id.
func (r ApiSearchMetadataEntriesRequest) TargetId(targetId string) ApiSearchMetadataEntriesRequest {
	r.targetId = &targetId
	return r
}

// Filter by metadata type.
func (r ApiSearchMetadataEntriesRequest) MetadataType(metadataType MetadataTypeEnum) ApiSearchMetadataEntriesRequest {
	r.metadataType = &metadataType
	return r
}

// Select the number of entries to return.
func (r ApiSearchMetadataEntriesRequest) PageSize(pageSize int32) ApiSearchMetadataEntriesRequest {
	r.pageSize = &pageSize
	return r
}

// Filter by page number.
func (r ApiSearchMetadataEntriesRequest) PageNumber(pageNumber int32) ApiSearchMetadataEntriesRequest {
	r.pageNumber = &pageNumber
	return r
}

// Entry id at which to start pagination. If the ordering parameter is set to -id, the elements returned precede the identifier. Otherwise, newer elements with respect to the id are returned. 
func (r ApiSearchMetadataEntriesRequest) Offset(offset string) ApiSearchMetadataEntriesRequest {
	r.offset = &offset
	return r
}

// Sort responses in ascending or descending order based on the collection property set on the param &#x60;&#x60;orderBy&#x60;&#x60;. If the request does not specify &#x60;&#x60;orderBy&#x60;&#x60;, REST returns the collection ordered by id. 
func (r ApiSearchMetadataEntriesRequest) Order(order Order) ApiSearchMetadataEntriesRequest {
	r.order = &order
	return r
}

func (r ApiSearchMetadataEntriesRequest) Execute() (*MetadataPage, *http.Response, error) {
	return r.ApiService.SearchMetadataEntriesExecute(r)
}

/*
SearchMetadataEntries Search metadata entries

Returns an array of metadata.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSearchMetadataEntriesRequest
*/
func (a *MetadataRoutesAPIService) SearchMetadataEntries(ctx context.Context) ApiSearchMetadataEntriesRequest {
	return ApiSearchMetadataEntriesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MetadataPage
func (a *MetadataRoutesAPIService) SearchMetadataEntriesExecute(r ApiSearchMetadataEntriesRequest) (*MetadataPage, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MetadataPage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MetadataRoutesAPIService.SearchMetadataEntries")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/metadata"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.sourceAddress != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sourceAddress", r.sourceAddress, "")
	}
	if r.targetAddress != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "targetAddress", r.targetAddress, "")
	}
	if r.scopedMetadataKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scopedMetadataKey", r.scopedMetadataKey, "")
	}
	if r.targetId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "targetId", r.targetId, "")
	}
	if r.metadataType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metadataType", r.metadataType, "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "")
	} else {
		var defaultValue int32 = 10
		r.pageSize = &defaultValue
	}
	if r.pageNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageNumber", r.pageNumber, "")
	} else {
		var defaultValue int32 = 1
		r.pageNumber = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "")
	} else {
		var defaultValue Order = "desc"
		r.order = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ModelError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
